<form action="/users" method="post" accept-charset="UTF-8">
  Username: <input type="text" name="username"><br />
  Email: <input type="text" name="email"><br />
  Password: <input type="password" name="password"><br />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
